.header__primary {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 90vw;
  height: 100px;
  background-color: #fff;

  .nav__header ul {
    padding: 30px 50px;
    display: flex;

    li {
      list-style: none;
      margin-right: 50px;
    }

    a {
      color: #000;
      // @include title ($Typographic-font1);
    }

    // @include m-query(desktop-s) {
    //   display: flex;
    // }
  }
}

.header__heart {
  display: none;
  margin-left: auto;
  padding-top: 30px;

  &:hover {
    text-decoration: none;
  }

  span {
    color: #000;
    // @include title ($Typographic-font1);
  }

  // @include m-query(desktop-s) {
  //   display: flex;
  // }
}
