/*----------$COLORS----------*/

/**
* Branding Colors
*/

$color-brand:  red;
$color-secondary: yellow;

$color-black : #051026;
$color-darkgrey :#707070;
$color-white: #FAFAFA;
$color-grey : #E0E0E2;

$color-red : #C70039;
$color-red-wine: #900C3F;

//----------$CONST----------//

$padding: 24px;
$page-max-width: 1920px;