/*----------$COLORS----------*/

/**
* Branding Colors
*/

$color-brand:  red;
$color-secondary: yellow;

$black : #051026;
$darkgrey :#707070;
$grey : #959595;
$grey2 : #00000029;
$withe1 : #FAFAFA;
$withe2 : #FAFAFA;
$grey3 : #F2F2F2;
$grey4 : #E0E0E2;
$grey4 : #0000001A;

$red : #C70039;
$red1: #D63447;
$red-wine: #900C3F;

$violet: #A46FE141;
$rose: #E71C4C34;


btn {
  background-color: $violet;
    & {
          background-color: $rose;
    }
}


